#contact {
    background: linear-gradient(45deg, rgba(55, 152, 209, 0.05), rgba(99, 102, 241, 0.05));
}

.contact-heading h3 {
     background: linear-gradient(90deg, #1C6EA4, #1DA1F2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contact-label {
    color: #1C6EA4;
}


.card-contact {
    background: white;
}

.btn-send {
   background: linear-gradient(135deg, #1C6EA4, #33A1E0);
   color: white;
   border: none;

}