/* وقتی کلاس dark روی کانتینر اصلی باشد */
.app.dark {
  background-color: #0f0f10 !important;  
  color: #f5f6f7 !important;             
}

/* Navbar */
.app.dark .navbar {
  background-color: rgba(31, 41, 55, 0.95);
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.3);
}

/*وقتی dark فعال باشه برای بخش About*/
.app.dark #about {
  background-color: #121212 !important;
  color: #ddd !important;
}


.app.dark .about-card {
  background-color: #1a1b1e !important;
  color: white !important;
}

.app.dark .about-description {
  color: white !important;

}


/* وقتی dark فعال باشه برای بخش Projects */
.app.dark #projects {
  background-color: #161719 !important;
  color: #e4e6eb !important;
}


.app.dark .project-card {
  background-color: #121212;
}

.app.dark .card-text {
  color: white !important;
}


/* وقتی dark فعال باشه برای بخش Contact */
.app.dark #contact {
  background-color: #1a1b1e !important;   /* پس‌زمینه تیره */
  color: #f5f6f7 !important;             /* رنگ نوشته‌ها */
}

.app.dark .card-contact {
  background-color: #121212;
}


.app.dark footer {
  background-color:  #121212 !important;
}

.app.dark .social-icon {
  background-color: #121212;
  color: #fff !important;
}

/* دکمه دارک مود */
.theme-toggle {
  width: 40px;
  height: 40px;
  border-radius: 50%;           
  background-color: #1C6EA4;    
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;                 
  font-size: 1.2rem;            
  color: #ffffff !important;               
  transition: transform 0.2s ease, background-color 0.3s ease;
}

.theme-toggle:hover {
  transform: scale(1.1);        
}


/* شیشه‌ای */
.glass-navbar {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  z-index: 1030;
  transition: background-color 0.3s ease;
}



.social-icon {
  background: rgba(13, 110, 253, 0.1); 
}

/* هاور روی آیکن شبکه اجتماعی */
.social-icon:hover {
  background-color: #1C6EA4 !important;
  color: white !important;
}
/* 


/* خط زیر عنوان در بخش about */
#about h3, 
.project-title,
.contact-heading h3
{
  display: inline-block;
  border-bottom: 1px solid #1C6EA4;
  padding-bottom: 2px;
}

/* متن توضیحات در بخش about */
.about-description {
  max-width: 500px;
  line-height: 1.6; 
  text-align: justify;
}



/* استایل برای صفحه‌های کوچک (موبایل) */
@media(max-width: 768px){

  /* فاصله دادن به بخش پروژه‌ها */
.project-section {
   padding-left: 25px;
   padding-right: 20px;
}

  /* فاصله بخش contact از آیکن‌ها */
  #contact, #about {
    padding-left: 4rem; 
    padding-left: 1rem;
  }
  
  /* فاصله کارت contact */
  .contact-card {
    margin-left: 1.1rem;
  }

 
}
